{% extends "parrhesia/layout.html" %}
{% load static %}

{% block body %}
{% if user.is_authenticated %}
<div class="center">
    <h2 class="center" id="wlc">Welcome Back, <b>{{ user.username }}</b>!</h2>
    <p id="con">Continue to have fun ;)</p>

    <div class="btns">
        <button class="btn center" id="start-btn">
            <a href="/channels" style="text-decoration: none;">Your Channels</a>
        </button>

        <button class="btn center" id="rdy-btn">
            <a href="/invite" style="text-decoration: none;">Invite a Friend!</a>
        </button>
    </div>
</div>

{% else %}
<div class="center">
    <h2 class="center" id="ft-stn">Parrhesia is a place where you can...</h2>
    <p class="center" id="sec-stn">
        ...belong to a school club, a gaming group, or a worldwide community.<br>Where just you and a
        handful of friends can spend time together. A place that makes it<br>easy to talk every day and hang out more
        often.
    </p>

    <div class="btns">
        <button class="btn center" id="start-btn">
            <a href="/register" style="text-decoration: none;">Get Started</a>
        </button>

        <button class="btn center" id="rdy-btn">
            <a href="/login" style="text-decoration: none;">Already a User?</a>
        </button>
    </div>
</div>
{% endif %}
{% endblock %}

{% block script %}
<script src="{% static 'parrhesia/js/index.js' %}"></script>
{% endblock %}