{% extends "parrhesia/layout.html" %}
{% load static %}

{% block title %}
Invite -
{% endblock %}

{% block body %}
<div class="container-box">
    <h2>INVITE</h2>

    <div class="msg" id="alerts"></div>
    <hr>

    <div id="invite_div">
        <form>
            <div class="form-box">
                <input required type="text" name="username" id="recipient">
                <label for="username">Username of invite recipient</label>
            </div>

            <div class="form-box cat-drop" style="margin-bottom: 25px;">
                <select class="form-control" id="channels" name="channels">
                    <option selected disabled value="default">Select a channel</option>
                    {% for channel in channels %}
                    <option value="{{ channel.id }}">{{ channel.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </form>
        <button type="submit" id="submit_invite" class="btn inv-btn">Invite</button>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'parrhesia/js/invite.js' %}"></script>
{% endblock %}